body {
    font-family: Arial;
    margin: 20px;
}

.container {
    display: flex;
    gap: 20px;
}

.table_section {
    width: 80%;
}

.text_section {
    width: 20%;
}

table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;   /* 🔥 MOST IMPORTANT */
}

td, th {
    border: 1px solid black;
    text-align: center;
    vertical-align: middle;

    height: 15px;        /* 🔥 row height fix */
    overflow: hidden;    /* 🔥 overflow prevent */
}

/* Lunch FIXED */

  /* .lunch {
    writing-mode: sideways-rl;
   
    transform: rotate(180deg);
}  */ 

/* MODAL */
.modal {
    position: fixed;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background: rgba(0,0,0,0.5);
}

.hidden {
    display: none;
}

.modal-box {
    background: white;
    width: 300px;
    margin: 15% auto;
    padding: 20px;
    border-radius: 10px;
}
#hiddenDate {
    position: fixed;
    top: 0;
    left: 0;
    opacity: 0;
    pointer-events: none;
}
td[data-type="course"] {
    width: 100px;
}

td[data-type="room"] {
    width: 60px;
}

td[data-type="guard"] {
    width: 80px;
}

td[data-type="invigilator"] {
    width: 100px;
}

.dateCell {
    width: 120px;
}
td {
    white-space: nowrap;     /* এক লাইনে রাখবে */
    text-overflow: ellipsis; /* বেশি হলে ... */
}
td {
    font-size: 11px;
    padding: 5px;
}
th {
    font-size: 11px ;
}